<button type="button" class="navbar-toggler {{if this.collapsed "collapsed"}}" ...attributes {{on "click" this.handleClick}}>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <span class="navbar-toggler-icon"></span>
  {{/if}}
</button>