/.publish
/.github
/.idea
/config/ember-try.js
/config/release.js
/dist
/tests
/tmp
/fastboot-tests
/docs
**/.gitkeep
.editorconfig
.ember-cli
.eslintrc.js
.gitignore
.watchmanconfig
.travis.yml
.template-lintrc.js
ember-cli-build.js
testem.*
yuidoc.json
gulpfile.js
.codeclimate.yml
/node-tests
/DEBUG

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try