<div class="bs-example">
  <!-- BEGIN-SNIPPET accordion-demo -->
  {{#bs-accordion as |acc|}}
    {{#acc.item value="1" title="First item"}}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
    {{/acc.item}}
    {{#acc.item value="2" as |aitem|}}
      {{#aitem.title}}
        <strong>Second</strong> <i>item</i>
      {{/aitem.title}}
      {{#aitem.body}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
      {{/aitem.body}}
    {{/acc.item}}
    {{#acc.item value="3" title="Third item"}}
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
    {{/acc.item}}
  {{/bs-accordion}}
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  {{code-snippet name="accordion-demo.hbs"}}
</div>