<div class="bs-example">
  <!-- BEGIN-SNIPPET dropdown-demo -->
  <BsDropdown @tagName="span" as |dd|>
    <Dd.toggle>
      Dropdown
      <span class="caret"></span>
    </Dd.toggle>
    <Dd.menu as |menu|>
      <Menu.item>
        <Menu.linkTo>
          Home
        </Menu.linkTo>
      </Menu.item>
      {{menu.divider}}
      <Menu.item>
        <Menu.linkTo>
          Dropdowns
        </Menu.linkTo>
      </Menu.item>
      {{menu.divider}}
      <Menu.item>
        <a href="https://example.com" class="dropdown-item">
          External
        </a>
      </Menu.item>
    </Dd.menu>
  </BsDropdown>
  <BsDropdown @direction="up" @tagName="span" as |dd|>
    <Dd.toggle>
      Dropup
      <span class="caret"></span>
    </Dd.toggle>
    <Dd.menu @align="right" as |menu|>
      <Menu.item>
        <Menu.linkTo>
          Home
        </Menu.linkTo>
      </Menu.item>
      {{menu.divider}}
      <Menu.item>
        <Menu.linkTo>
          Dropdowns
        </Menu.linkTo>
      </Menu.item>
    </Dd.menu>
  </BsDropdown>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="dropdown-demo.hbs" />
</div>
<h2>
  Button dropdowns
</h2>
<div class="bs-example">
  <!-- BEGIN-SNIPPET dropdown-button -->
  <BsDropdown as |dd|>
    <Dd.button>
      Dropdown
      <span class="caret"></span>
    </Dd.button>
    <Dd.menu as |menu|>
      <Menu.item>
        <Menu.linkTo>
          Home
        </Menu.linkTo>
      </Menu.item>
      <Menu.item>
        <Menu.linkTo>
          Dropdowns
        </Menu.linkTo>
      </Menu.item>
    </Dd.menu>
  </BsDropdown>
  <BsDropdown as |dd|>
    <BsButton>
      Dropdown
    </BsButton>
    <Dd.button>
      <span class="caret"></span>
    </Dd.button>
    <Dd.menu as |menu|>
      <Menu.item>
        <Menu.linkTo>
          Home
        </Menu.linkTo>
      </Menu.item>
      <Menu.item>
        <Menu.linkTo>
          Dropdowns
        </Menu.linkTo>
      </Menu.item>
    </Dd.menu>
  </BsDropdown>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="dropdown-button.hbs" />
</div>