<div class="bs-example" data-test-fastboot-container>
  <!-- BEGIN-SNIPPET tooltip-demo -->
  <BsButton class="mb-1">
    Tooltip on left
    <BsTooltip @placement="left">Tooltip on left</BsTooltip>
  </BsButton>
  <BsButton class="mb-1">
    Tooltip on top
    <BsTooltip @placement="top">Tooltip on top</BsTooltip>
  </BsButton>
  <BsButton class="mb-1">
    Tooltip on bottom
    <BsTooltip @placement="bottom">Tooltip on bottom</BsTooltip>
  </BsButton>
  <BsButton class="mb-1">
    Tooltip on right
    <BsTooltip @placement="right">Tooltip on right</BsTooltip>
  </BsButton>
  <BsButton class="mb-1">
    Click tooltip
    <BsTooltip @triggerEvents="click">Click tooltip</BsTooltip>
  </BsButton>
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="tooltip-demo.hbs" />
</div>
<h2>
  Tooltip trigger
</h2>
<p>
  By default the tooltip will attach itself to the parent DOM element, but there are ways to customize this:
</p>
<div class="bs-example">
  <!-- BEGIN-SNIPPET tooltip-target -->
  <button type="button" class="btn btn-secondary">
    DOM parent
    <BsTooltip @title="DOM parent" />
  </button>
  <BsButton>
    Parent component
    <BsTooltip @triggerElement="parentView" @title="Parent component" />
  </BsButton>
  <button id="Tooltip-button" class="btn btn-secondary">
    CSS selector
  </button>
  <BsTooltip @triggerElement="#Tooltip-button" @title="CSS selector" />
  <!-- END-SNIPPET -->
</div>
<div class="highlight">
  <CodeSnippet @name="tooltip-target.hbs" />
</div>
