<BsCollapse @collapsed={{@collapsed}} role="tabpanel">
  <div class="{{if (macroCondition (macroGetOwnConfig "isBS4")) "card-body"}} {{if (macroCondition (macroGetOwnConfig "isBS5")) "accordion-body"}}">
    {{yield}}
  </div>
</BsCollapse>