<div {{bind-attr class="horizontalInputGridClass horizontalInputOffsetGridClass"}}>
    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=value}} {{label}}
        </label>
    </div>
</div>