<h1>buttonGroup</h1>

{{#bs-button-group id="button-group" value=1 type="checkbox" as |bg|}}
    {{#bg.button value=1}}1{{/bg.button}}
    {{#bg.button value=2}}2{{/bg.button}}
    {{#bg.button value=3}}3{{/bg.button}}
{{/bs-button-group}}