<h1>dropdown</h1>

{{#bs-dropdown id="dropdown"}}
    {{#bs-dropdown-button}}Dropdown <span class="caret"></span>{{/bs-dropdown-button}}
    {{#bs-dropdown-menu}}
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "dropdown"}}Dropdowns{{/link-to}}</li>
    {{/bs-dropdown-menu}}
{{/bs-dropdown}}