<h1>dropdown</h1>

{{#bs-dropdown id="dropdown" as |dd|}}
    {{#dd.button}}Dropdown <span class="caret"></span>{{/dd.button}}
    {{#dd.menu}}
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "dropdown"}}Dropdowns{{/link-to}}</li>
    {{/dd.menu}}
{{/bs-dropdown}}