<h1>modal</h1>

{{#bs-modal-simple id="modal" title="modal header" size="sm"}}
  modal body
{{/bs-modal-simple}}

{{#bs-modal-simple id="modal-hidden" open=false title="modal header" size="sm"}}
  modal body
{{/bs-modal-simple}}
