<h1>popover</h1>

<button type="button" class="btn btn-default">Popover
  {{#bs-popover title="Popover"}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magnam similique voluptate!{{/bs-popover}}
</button>