{{#ember-popper
  id=id
  class=popperClass
  placement=placement
  renderInPlace=renderInPlace
  target=target
  modifiers=popperModifiers
  popperContainer="#ember-bootstrap-wormhole"
}}
  <div class="arrow"></div>
  {{#if hasTitle}}
    <h3 class="popover-title">{{title}}</h3>
  {{/if}}
  <div class="popover-content">{{yield}}</div>
{{/ember-popper}}