<h1>Addons</h1>

<p class="lead">
  These optional addons extend the existing functionality of ember-bootstrap.
</p>

<div class="row mt-4">

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          ember-bootstrap-cp-validations
          <span class="badge badge-pill badge-primary">form validation</span>
        </h5>
        <p class="card-text">
          adds support for form validations based on
          <a href="https://github.com/offirgolan/ember-cp-validations">ember-cp-validations</a>
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/offirgolan/ember-bootstrap-cp-validations" class="card-link">GitHub</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          ember-bootstrap-changeset-validations
          <span class="badge badge-pill badge-primary">form validation</span>
        </h5>
        <p class="card-text">
          adds support for form validations based on
          <a href="https://github.com/poteto/ember-changeset-validations/">ember-changeset-validations</a>
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/kaliber5/ember-bootstrap-changeset-validations" class="card-link">GitHub</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          ember-bootstrap-validations
          <span class="badge badge-pill badge-primary">form validation</span>
        </h5>
        <p class="card-text">
          adds support for form validations based on
          <a href="https://github.com/DockYard/ember-validations">ember-validations</a>
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/kaliber5/ember-bootstrap-validations" class="card-link">GitHub</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          ember-bootstrap-power-select
          <span class="badge badge-pill badge-primary">form controls</span>
        </h5>
        <p class="card-text">
          easily integrates <a href="https://ember-power-select.com/">ember-power-select</a> into your forms.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/kaliber5/ember-bootstrap-power-select" class="card-link">GitHub</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          ember-bootstrap-model-select
          <span class="badge badge-pill badge-primary">form controls</span>
        </h5>
        <p class="card-text">
          easily integrates <a href="https://nickschot.github.io/ember-model-select/">ember-model-select</a> into your forms.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/nickschot/ember-bootstrap-model-select" class="card-link">GitHub</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          ember-bootstrap-modals-manager
          <span class="badge badge-pill badge-primary">modals manager</span>
        </h5>
        <p class="card-text">
          helps to easily interact with users using modals.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/onechiporenko/ember-bootstrap-modals-manager" class="card-link">GitHub</a>
        <a href="https://onechiporenko.github.io/ember-bootstrap-modals-manager/" class="card-link">Docs</a>
        <a href="https://onechiporenko.github.io/ember-bootstrap-modals-manager/demo" class="card-link">Demo</a>
      </div>
    </div>
  </div>
</div>
