{{#if title}}
  <div class="card-header">
    {{title}}
  </div>
{{/if}}
{{#if hasBlock}}
  <div class="card-body">
    {{yield}}
  </div>
{{/if}}
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    {{#if apiUrl}}
      <a href={{apiUrl}}>API Docs</a>
    {{/if}}
  </li>
  {{#if bsUrl}}
    <li class="list-group-item"><a href={{bsUrl}} target="_blank" rel="noopener">Bootstrap Docs</a></li>
  {{/if}}
</ul>