{{#ember-popper
  id=id
  class=popperClass
  ariaRole=ariaRole
  placement=placement
  renderInPlace=renderInPlace
  popperTarget=popperTarget
  modifiers=popperModifiers
  popperContainer="#ember-bootstrap-wormhole"
  onCreate=(action "updatePlacement")
  onUpdate=(action "updatePlacement")
}}
  <div class={{arrowClass}}></div>
  <div class="tooltip-inner">
    {{yield}}
  </div>
{{/ember-popper}}