<div class="{{horizontalInputGridClass}} {{horizontalInputOffsetGridClass}}">
  <div class="checkbox">
    {{#component labelComponent}}
      {{yield}}
    {{/component}}
  </div>
  {{component errorsComponent}}
</div>