@import 'variables';
@import 'ember-bootstrap/bootstrap';
@import 'bs-example';
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";

body {
  //position: relative;
  overflow: auto !important; // for modals in bs-example
}

.is-required > label:after {
  content: '*';
}

body > div > .navbar {
  border-bottom: solid 3px #7BBA1D;
  margin-bottom: 20px;
}

.logo {
  margin-top: 20px;
}

.jumbotron {
  pre {
    font-size: 20px;
    padding: 20px;
    background-color: $primary;
    color: #fff;
    border: none;
    border-bottom: solid 3px #7BBA1D;

    border-radius: .25rem;
  }
}

code {
  .line-numbers-rows {
    opacity: 0.3;
    transition: opacity 0.5s;
  }

  &:hover .line-numbers-rows {
    opacity: 1;
  }
}