@import 'ember-bootstrap/bootstrap';
@import 'bs-example';
@import 'variables';

body {
    position: relative;
}

.is-required > label:after {
  content: '*';
}


.navbar-static-top {
  border-width: 0 0 3px;
}

.logo {
  margin-top: 20px;
}