@import 'ember-bootstrap/bootstrap';

body {
    position: relative;
}

.is-required > label:after {
  content: '*';
  color: red;
}

.icon-bar {
  background-color: #888;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
}
