$brand-primary: #EF5A31;
$brand-secondary: #7BBA1D;

$navbar-inverse-color: #fff;
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-border: $brand-secondary;
$navbar-inverse-link-color: #fff;
$navbar-inverse-toggle-border-color: #fff;
$navbar-inverse-toggle-hover-bg: darken($navbar-inverse-bg, 10%);


//$font-size-base: 16px;
$font-family-sans-serif: 'myriad-pro', sans-serif;

// make sure this is defined so Sass compiles without errors even for BS4 build
$zindex-modal-background:  1040;