<div class={{if fluid "container-fluid" "container"}}>
    {{yield
        (hash
            toggle=(component 'bs-navbar/toggle' toggleBreak=toggleBreak onClick=(action 'toggleNavbar') collapsed=collapsed)
            content=(component 'bs-navbar/content' toggleBreak=toggleBreak collapsed=collapsed)
            nav=(component 'bs-navbar/nav')
        )
    }}
</div>
