<div class={{if fluid "container-fluid" "container"}}>
    {{yield
        (hash
            collapsed=collapsed
            content=(component 'bs-navbar-content' collapsed=collapsed)
        )
    }}
</div>
