<div class={{if fluid "container-fluid" "container"}}>
    {{yield
        (hash
            collapsed=collapsed
            header=(component 'bs-navbar-header')
            toggle=(component 'bs-navbar-toggle' action=(action 'toggleNavbar'))
            content=(component 'bs-navbar-content' collapsed=collapsed)
            nav=(component 'bs-navbar-nav')
        )
    }}
</div>
