{{#if hasLabel}}
    <label class="control-label">{{label}}</label>
{{/if}}
{{bs-input name=name type=controlType value=value placeholder=placeholder}}
{{partial "components/form-element/feedback-icon"}}
{{partial "components/form-element/errors"}}