{{#if hasLabel}}
    <label class="control-label" for="{{concat elementId '-' name}}">{{label}}</label>
{{/if}}
{{bs-select id=(concat elementId '-' name) name=name content=choices optionValuePath=choiceValueProperty optionLabelPath=choiceLabelProperty value=value}}
{{partial "components/form-element/feedback-icon"}}
