{{#if hasLabel}}
    <label class="control-label" for="{{concat elementId '-' name}}">{{label}}</label>
{{/if}}
{{bs-input id=(concat elementId '-' name) name=name type=controlType value=value placeholder=placeholder}}
{{partial "components/form-element/feedback-icon"}}
