{{#if hasLabel}}
    <label class="control-label">{{label}}</label>
{{/if}}
{{bs-select name=name content=choices optionValuePath=selectValueProperty optionLabelPath=selectLabelProperty value=value}}
{{partial "components/form-element/feedback-icon"}}
