{{#if hasLabel}}
    <label class="control-label">{{label}}</label>
{{/if}}
{{bs-textarea name=name value=value placeholder=placeholder cols=cols rows=rows}}
{{partial "components/form-element/feedback-icon"}}
{{partial "components/form-element/errors"}}