{{! @glint-nocheck }}
<button
  type="button"
  class="navbar-toggler
  {{if (bs-default @collapsed true) "collapsed"}}"
  ...attributes
  {{(if @onClick (modifier this.on "click" @onClick))}}
>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <span class="navbar-toggler-icon"></span>
  {{/if}}
</button>
