{{! template-lint-disable nested-interactive }}
<div role="tab" class="card-header {{if collapsed "collapsed" "expanded"}}">
  <h5 class="card-title mb-0">
    <a href="#">
      {{yield}}
    </a>
  </h5>
</div>
