{{! @glint-nocheck }}
<div
  class="accordion"
  ...attributes
>
  {{yield
    (hash
      item=(component (ensure-safe-component (bs-default @itemComponent (component "bs-accordion/item"))) selected=this.isSelected onClick=this.doChange)
      change=this.doChange
    )
  }}
</div>
