{{#if @show}}
  {{#if @showMultipleErrors}}
    <div class="pre-scrollable">
      {{#each @messages as |message|}}
        <div class="invalid-feedback d-block">{{message}}</div>
      {{/each}}
    </div>
  {{else}}
    <div class="invalid-feedback d-block">{{@messages.firstObject}}</div>
  {{/if}}
{{/if}}
