{{! @glint-nocheck }}
<div class="{{if (bs-eq "switch" @controlType) (if (macroCondition (macroGetOwnConfig "isBS5")) "form-check form-switch" "custom-control custom-switch") "form-check"}}">
  {{yield}}
  <@labelComponent/>
  <@errorsComponent/>
  <@helpTextComponent/>
</div>
