{{! template-lint-disable block-indentation }}
<h1 id="included-assets">Included Assets</h1>

<p>Ember Bootstrap relies on the Bootstrap CSS classes while replacing the
  behaviors from the components Bootstrap implements in
  <code>bootstrap.js</code>, such as toggle, navbar, modal, etc., with
  equivalent, CSS class-compatible native Ember components.</p>

<p>Ember Bootstrap does not import the Bootstrap CSS. You need to import it
  yourself.</p>

<BsAlert @type="warning" @dismissible={{false}}>
  <h4>No bootstrap.js</h4>
  Ember Bootstrap deliberately excludes
  <code>bootstrap.js</code>
  because the jQuery and Ember ways of control flow and animation sometimes
  don't play well together, causing unpredictable results. This is the main
  motivation behind Ember Bootstrap. It is possible to import
  <code>bootstrap.js</code>
  from manually. However this is NOT recommended or supported, and you will be
  on your own. You have been warned!
</BsAlert>

<h1 id="addon-options">Importing assets</h1>

<h2 id="importing-css-assets">Importing static CSS assets</h2>

<p>
  When not using a CSS preprocessor (see below) you will need to import the
  static Bootstrap CSS into yourself.
</p>
<p>
  For classic apps, add the following lines to
  <code>ember-cli-build.js</code>

  {{! prettier-ignore }}
  <pre class="highlight"><code>//your-bootstrap-app/ember-cli-build.js
module.exports = function(defaults) {
  let app = new EmberApp(defaults, { /* Configuration */ });
  app.import('node_modules/bootstrap/dist/css/bootstrap.css');
  app.toTree();
};</code></pre>
</p>

<p>
  For Embroider apps, import the CSS file in
  <code>app/app.js</code>.
  {{! prettier-ignore }}
  <pre class="highlight"><code>import 'bootstrap/dist/css/bootstrap.css';</code></pre>
</p>

<h2>Using a CSS preprocessor</h2>

<p>
  You can use
  <a
    href="https://github.com/adopted-ember-addons/ember-cli-sass"
    target="_blank"
    rel="noopener noreferrer"
  >Ember CLI SASS</a>) if you want to use a CSS preprocessor. Ensure that you
  have the Bootstrap package installed and add an
  <code>@import</code>
  statement to your
  <code>app.scss</code>
  file:
</p>

{{! prettier-ignore }}
<pre class="highlight"><code class="language-sass">// app.scss
@import "node_modules/bootstrap/scss/bootstrap";</code>
</pre>

<p>This will add the whole bootstrap stylesheets allowing you to customize them
  easily using the available variables.</p>

<p>
  It is possible to import only the assets your app needs but the definitions
  varies according to the chosen configuration.
</p>

{{! prettier-ignore }}
<pre class="highlight"><code class="language-sass">// app.scss
// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional - Bootstrapping/Resetting
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/print"; // Bootstrap 4 only
@import "node_modules/bootstrap/scss/reboot";

// Optional - Everything else
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/buttons";
</code></pre>

<p>
  You can also checkout which files are available for import in
  <code>node_modules/bootstrap/scss</code>.
</p>