{{! template-lint-disable block-indentation }}
<h1>Bootstrap 4</h1>

<p>
  Starting with the 1.2.0 release of ember-bootstrap it comes with support for Bootstrap 4 that can be considered stable.
</p>

<h2>Moving to Bootstrap 4</h2>

<p>
  We've made every effort to make moving from Bootstrap 3 to Bootstrap 4 in 1.0 completely transparent. Making the
  switch from earlier versions of ember-bootstrap will take some additional work. Here are the key steps.
</p>

<ol>
  <li>
    <strong>Bootstrap 4 uses SASS!</strong> If you were using LESS with Bootstrap 3, you will need to switch to
    either static CSS or SASS. The details of doing this are beyond the scope of this guide. It could be as simple
    as changing <code>@</code> to <code>$</code> but is likely more complex. Remove ember-cli-less from your
    <code>package.json</code> and install ember-cli-sass if appropriate.
  </li>
  <li>
    Run the ember-bootstrap blueprint:

    <code>
      ember generate ember-bootstrap --bootstrap-version=4
    </code>
    <br>
    For details, see the {{#link-to "getting-started.assets"}}assets guide{{/link-to}}.
  </li>
  <li>
    Make sure your ember-bootstrap code uses all of the new contextual components. Most of the differences between
    the two versions of Bootstrap are hidden by proper component usage. Some of the more noteworthy ones are
    <code>bs-form</code>, <code>bs-nav.link-to</code> (which also affects navs in navbars),
    <code>bs-dropdown.menu.item</code>, and <code>bs-dropdown.menu.divider</code>.
  </li>
  <li>
    Refer to the
    <a href="http://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank" rel="noopener">
      Bootstrap 4 documentation
    </a> and, in particular, the
    <a href="http://getbootstrap.com/docs/4.0/migration/" target="_blank" rel="noopener">
      Migration Guide
    </a> for other necessary changes in markup with Bootstrap 4.
  </li>
</ol>

<p>
  Please let us know if you find any issues by either <a href="https://github.com/kaliber5/ember-bootstrap/issues/new">
  filing an issue</a> or, even better, forking the repo and submitting a pull request with a fix.
</p>


<h2>Known Issues</h2>

<p>
  Known issues and pull requests relating to the Bootstrap 4 implementation will be labeled.
  Click here for the list of all
  <a href="https://github.com/kaliber5/ember-bootstrap/issues?q=is%3Aissue+is%3Aopen+label%3A%22Bootstrap+4%22"  target="_blank" rel="noopener">open Bootstrap 4 issues</a>.
</p>
