<div class="jumbotron bg-light rounded h-100 p-5 fs-5 mb-4">
  <h1>Getting started</h1>

  <p>In your ember-cli application:</p>

  <div>
    <pre><code>ember install ember-bootstrap</code></pre>
  </div>

</div>

<div class="row row-cols-1 row-cols-sm-2 g-4">
  <div class="col">

    <div class="card h-100">
      <div class="card-body">
        <h3 class="card-title">Setup</h3>
        <p class="card-text">
          Learn how to install the addon and customize the various available
          build options.
        </p>
      </div>
      <div class="card-footer">
        <LinkTo @route="getting-started.setup" class="btn btn-primary">Tell me
          more</LinkTo>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h3 class="card-title">Bootstrap assets</h3>
        <p class="card-text">
          You can customize the way ember-bootstrap will import the Bootstrap
          styles, supporting static CSS as well as CSS preprocessors.
        </p>
      </div>
      <div class="card-footer">
        <LinkTo @route="getting-started.assets" class="btn btn-primary">
          Tell me more
        </LinkTo>
      </div>
    </div>
  </div>
</div>