<div class="jumbotron">
  <h1>Getting started</h1>

  <p>In your ember-cli application:</p>

  <div>
    <pre><code>ember install ember-bootstrap</code></pre>
  </div>

</div>

<div class="card-deck">

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Setup</h3>
      <p class="card-text">
        Learn how to install the addon and customize the various available build options.
      </p>
    </div>
    <div class="card-footer">
      {{#link-to "getting-started.setup" class="btn btn-primary"}}Tell me more{{/link-to}}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Bootstrap assets</h3>
      <p class="card-text">
        You can customize the way ember-bootstrap will import the Bootstrap styles, supporting static CSS as well as CSS
        preprocessors.
      </p>
    </div>
    <div class="card-footer">
      {{#link-to "getting-started.assets" class="btn btn-primary"}}Tell me more{{/link-to}}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Bootstrap 4</h3>
      <p class="card-text">
        ember-bootstrap comes with support for Bootstrap 4. Learn how to switch your project to use
        Bootstrap 4.
      </p>
    </div>
    <div class="card-footer">
      {{#link-to "getting-started.bootstrap-4" class="btn btn-primary"}}Tell me more{{/link-to}}
    </div>
  </div>
</div>