<h1>Setup</h1>

<h2>Installation</h2>

<p>Install the addon if you have not done so already:</p>

<pre class="highlight">ember install ember-bootstrap</pre>

<p>
  To allow Bootstrap to render modals and tooltips, add
  <code>&lt;div id=&quot;ember-bootstrap-wormhole&quot;&gt;&lt;/div&gt;</code>
  to either the
  <code>app/index.html</code>
  or
  <code>app/templates/application.hbs</code>.
</p>

<p>To import the Bootstrap styles, you need to install Bootstrap as well:</p>

<pre class="highlight">npm install --save-dev bootstrap</pre>

<h2>Configuration</h2>

<h3>Using plain css</h3>

<p>
  To use Ember Bootstrap, include Bootstrap's style sheets into your app's build
  configuration.
</p>

<p>
  For classic apps, add the following to your
  <code>ember-cli-build.js</code>:

  {{! prettier-ignore }}
  <pre class="highlight"><code
>let app = new EmberApp(defaults, { /* Configuration */ });
app.import('node_modules/bootstrap/dist/css/bootstrap.css');
app.toTree();
</code></pre>
</p>

<p>
  For apps using Embroider, import the CSS in
  <code>app/app.js</code>.
  {{! prettier-ignore }}
  <pre class="highlight"><code>import 'bootstrap/dist/css/bootstrap.css';</code></pre>
</p>

See the
<a
  href="https://guides.emberjs.com/release/addons-and-dependencies/#toc_css"
>Ember documentation</a>
for more information about including assets into your app.

<h3>Use a CSS preprocessor</h3>

<p>To use a Sass as a CSS preprocessor instead of plain CSS (highly
  recommended!), you can install and setup
  <a href="https://github.com/adopted-ember-addons/ember-cli-sass">Ember CLI
    SASS</a>-
</p>

<p>See the
  <LinkTo @route="getting-started.assets">Assets guide</LinkTo>
  for details.</p>

<h3>Switch to Bootstrap 4</h3>

<p>Ember Bootstrap defaults to Bootstrap 5 but supports Bootstrap 4 in parallel.
  You can switch to Bootstrap 4 by setting the
  <code>bootstrapVersion</code>
  option to
  <code>4</code>
  in your
  <code>ember-cli-build.js</code>:

  {{! prettier-ignore }}
  <pre class="highlight"><code
>module.exports = function (defaults) {
  const app = new EmberApp(defaults, {
    'ember-bootstrap': {
      bootstrapVersion: 4,
    },
  });

  // ...
};
</code></pre>
</p>

<p>
  Additionally, import the CSS in
  <code>ember-bootstrap/overwrites-for-bs4.css</code>
  in your application.
  {{! prettier-ignore }}
  <pre class="highlight"><code>import 'ember-bootstrap/overwrites-for-bs4.css';</code></pre>
</p>

<hr />

<h2>All configuration options</h2>

<p>
  You can customize your setup with the following options:
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Option</th>
      <th>Allowed values</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bootstrapVersion</td>
      <td>4 / 5</td>
      <td>5</td>
      <td>
        <p>
          Specify the Bootstrap version to use. To make sure you have the right
          dependencies installed, you should use the default blueprint mentioned
          above to set this!
        </p>
      </td>
    </tr>
  </tbody>

</table>

<p>These options can be set in your <code>ember-cli-build.js</code> file:</p>

{{! prettier-ignore }}
<pre class="highlight"><code>//your-bootstrap-app/ember-cli-build.js

module.exports = function(defaults) {
  const app = new EmberApp(defaults, {
    'ember-bootstrap': {
      bootstrapVersion: 4,
    },
  });

  // ..
};
</code></pre>