{{! template-lint-disable nested-interactive }}
<div role="tab" class="panel-heading {{if collapsed "collapsed" "expanded"}}">
  <h4 class="panel-title">
    <a href="#">
      {{yield}}
    </a>
  </h4>
</div>
