<h1>Accordion</h1>

{{#bs-accordion selected=selected onChange=(action "select") as |acc|}}
    {{#acc.item value="1" title="First item"}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
    {{/acc.item}}
    {{#acc.item value="2" title="Second item"}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
    {{/acc.item}}
    {{#acc.item value="3" title="Third item"}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
    {{/acc.item}}
{{/bs-accordion}}

<p>Selected accordion item: {{selected}}</p>