<h1>Accordion</h1>

<div class="bs-example">
    <!-- BEGIN-SNIPPET accordion-demo -->
    {{#bs-accordion selected=selected as |acc|}}
        {{#acc.item value="1" title="First item"}}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
        {{/acc.item}}
        {{#acc.item value="2" title="Second item"}}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
        {{/acc.item}}
        {{#acc.item value="3" title="Third item"}}
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur ea eos hic neque quia sequi sunt. Amet at atque corporis earum et fugiat illum magnam nisi sapiente voluptatem. Laudantium, quam?</p>
        {{/acc.item}}
    {{/bs-accordion}}

    <p>Selected accordion item: {{selected}}</p>
    <!-- END-SNIPPET -->
</div>
<div class="highlight">
    {{code-snippet name="accordion-demo.hbs"}}
</div>