{{#bs-nav type="pills" as |nav|}}
    {{#nav.item}}{{#nav.link-to "alert"}}Alert{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "button"}}Buttons{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "dropdown"}}Dropdown{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "forms"}}Forms{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "accordion"}}Accordion{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "collapse"}}Collapse{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "modal"}}Modals{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "progress"}}Progress bars{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "navs"}}Navs{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "navbars"}}Navbars{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "tabs"}}Tabs{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "tooltip"}}Tooltips{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "popover"}}Popovers{{/nav.link-to}}{{/nav.item}}
{{/bs-nav}}

<div class="container">
    {{outlet}}
</div>
