{{#bs-navbar fluid=false class="navbar-inverse navbar-static-top" as |navbar|}}
    <div class="navbar-header">
        {{#navbar.toggle}}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        {{/navbar.toggle}}
        <a href="//kaliber5.github.io/ember-bootstrap/" class="navbar-brand">ember-bootstrap</a>
    </div>
    {{#navbar.content}}
        {{#navbar.nav as |nav|}}
            {{#nav.item}}<a href="//kaliber5.github.io/ember-bootstrap/getting-started">Getting Started</a>{{/nav.item}}
            {{#nav.item}}<a href="//kaliber5.github.io/ember-bootstrap/components">Components</a>{{/nav.item}}
            {{#nav.item}}<a href="//kaliber5.github.io/ember-bootstrap/api">API</a>{{/nav.item}}
            {{#nav.item}}{{#link-to "index"}}Demo{{/link-to}}{{/nav.item}}
        {{/navbar.nav}}
        {{#navbar.nav class="navbar-right" as |nav|}}
            {{#nav.item}}<a href="https://github.com/kaliber5/ember-bootstrap" target="_blank"><i class="fa fa-github"></i></a>{{/nav.item}}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            {{outlet}}
        </div>
        <div class="col-sm-4">

            {{#bs-nav type="pills" stacked=true as |nav|}}
                {{#nav.item}}{{#link-to "alert"}}Alert{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "button"}}Buttons{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "dropdown"}}Dropdown{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "forms"}}Forms{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "accordion"}}Accordion{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "collapse"}}Collapse{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "modal"}}Modals{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "progress"}}Progress bars{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "navs"}}Navs{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "navbars"}}Navbars{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "tabs"}}Tabs{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "tooltip"}}Tooltips{{/link-to}}{{/nav.item}}
                {{#nav.item}}{{#link-to "popover"}}Popovers{{/link-to}}{{/nav.item}}
            {{/bs-nav}}

        </div>

    </div>
    <div class="row footer">
        <div class="col-sm-12 text-center">

        </div>
    </div>
</div>