{{#bs-navbar fluid=false position="static-top" type="inverse" as |navbar|}}
    <div class="navbar-header">
        {{navbar.toggle}}
        {{#link-to "index" class="navbar-brand"}}ember-bootstrap{{/link-to}}
    </div>
    {{#navbar.content}}
        {{#navbar.nav as |nav|}}
            {{#nav.item}}{{#nav.link-to "getting-started"}}Getting Started{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "demo"}}Components{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}<a href="/api" class="nav-link">API v1.0</a>{{/nav.item}}
            {{#nav.item}}<a href="//simonihmig.github.io/ember-bootstrap/api/" class="nav-link">API v0.11</a>{{/nav.item}}
        {{/navbar.nav}}
        {{#navbar.nav class="navbar-right" as |nav|}}
            {{#nav.item}}<a href="https://github.com/kaliber5/ember-bootstrap" class="nav-link" target="_blank"><i class="fa fa-github"></i></a>{{/nav.item}}
            {{#nav.item}}<a href="https://twitter.com/simonihmig" class="nav-link" target="_blank"><i class="fa fa-twitter"></i></a>{{/nav.item}}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}

<div class="container">
    {{outlet}}
</div>
