{{#bs-nav type="pills" as |nav|}}
    {{#nav.item}}{{#nav.linkto "alert"}}Alert{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "button"}}Buttons{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "dropdown"}}Dropdown{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "forms"}}Forms{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "accordion"}}Accordion{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "collapse"}}Collapse{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "modal"}}Modals{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "progress"}}Progress bars{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "navs"}}Navs{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "navbars"}}Navbars{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "tabs"}}Tabs{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "tooltip"}}Tooltips{{/nav.linkto}}{{/nav.item}}
    {{#nav.item}}{{#nav.linkto "popover"}}Popovers{{/nav.linkto}}{{/nav.item}}
{{/bs-nav}}

<div class="container">
    {{outlet}}
</div>
