{{#bs-nav type="pills" as |nav|}}
    {{#nav.item}}{{#link-to "alert"}}Alert{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "button"}}Buttons{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "dropdown"}}Dropdown{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "forms"}}Forms{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "accordion"}}Accordion{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "collapse"}}Collapse{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "modal"}}Modals{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "progress"}}Progress bars{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "navs"}}Navs{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "navbars"}}Navbars{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "tabs"}}Tabs{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "tooltip"}}Tooltips{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "popover"}}Popovers{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "carousel"}}Carousel{{/link-to}}{{/nav.item}}
{{/bs-nav}}

<div class="container">
    {{outlet}}
</div>
