{{#bs-nav type="pills" as |nav|}}
    {{#nav.item}}{{#link-to "alert" class="nav-link"}}Alert{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "button" class="nav-link"}}Buttons{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "dropdown" class="nav-link"}}Dropdown{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "forms" class="nav-link"}}Forms{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "accordion" class="nav-link"}}Accordion{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "collapse" class="nav-link"}}Collapse{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "modal" class="nav-link"}}Modals{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "progress" class="nav-link"}}Progress bars{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "navs" class="nav-link"}}Navs{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "navbars" class="nav-link"}}Navbars{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "tabs" class="nav-link"}}Tabs{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "tooltip" class="nav-link"}}Tooltips{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "popover" class="nav-link"}}Popovers{{/link-to}}{{/nav.item}}
{{/bs-nav}}

<div class="container">
    {{outlet}}
</div>
