{{bs-button active=active toggle=true type="primary" icon="glyphicon glyphicon-download" defaultText="Default" loadingText="Loading"}}

<hr>

<h2>Button group</h2>

{{#bs-button-group value=buttonGroupValue type="checkbox"}}
    {{#bs-button value=1}}1{{/bs-button}}
    {{#bs-button value=2}}2{{/bs-button}}
    {{#bs-button value=3}}3{{/bs-button}}
{{/bs-button-group}}

<p>You selected:</p>
<ul>
    {{#each buttonGroupValue as |value|}}
        <li>{{value}}</li>
    {{/each}}
</ul>


<h3>Radio-style button group</h3>

{{#bs-button-group value=buttonGroupValue2 type="radio"}}
    {{#bs-button value=1}}1{{/bs-button}}
    {{#bs-button value=2}}2{{/bs-button}}
    {{#bs-button value=3}}3{{/bs-button}}
{{/bs-button-group}}

<p>You selected: {{buttonGroupValue2}}</p>

<h3>Translatable Buttons</h3>

{{bs-button defaultTextTranslation="label.translated"}}