{{#bs-button active=active toggle=true type="primary" icon="glyphicon glyphicon-download"}}Download{{/bs-button}}

<hr>

<h2>Button group</h2>




<h3>Radio-style button group</h3>

{{#bs-button-group value=buttonGroupValue2 type="radio"}}
    {{#bs-button value=1}}1{{/bs-button}}
    {{#bs-button value=2}}2{{/bs-button}}
    {{#bs-button value=3}}3{{/bs-button}}
{{/bs-button-group}}

<p>You selected: {{buttonGroupValue2}}</p>