<h1>Button</h1>

<h2>Simple example</h2>

<div class="bs-example">
    <!-- BEGIN-SNIPPET button-demo -->
    {{#bs-button
        active=active
        type="primary"
        icon="glyphicon glyphicon-download"
        }}
        Button
    {{/bs-button}}
    <!-- END-SNIPPET -->
</div>
<div class="highlight">
    {{code-snippet name="button-demo.hbs"}}
</div>
