<h1>Dropdowns</h1>


{{#bs-navbar fluid=true as | navbar | }}
    <div class="navbar-header">
        {{#navbar.toggle}}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        {{/navbar.toggle}}
        <a class="navbar-brand" href="#">Project Name</a>
    </div>
    {{#navbar.content}}
        {{#navbar.nav as | nav | }}
            {{!-- TODO: How to handle dropdown nav items? --}}
            {{#bs-dropdown tagName="li" as |dd|}}
                {{#dd.toggle}}Dropdown <span class="caret"></span>{{/dd.toggle}}
                {{#dd.menu}}
                    {{#dd.item}}
                        {{#link-to "index"}}Home{{/link-to}}
                    {{/dd.item}}
                    {{#dd.item}}
                        {{#link-to "dropdown"}}Dropdowns{{/link-to}}
                    {{/dd.item}}
                {{/dd.menu}}
            {{/bs-dropdown}}
            {{#bs-dropdown direction="up" tagName="li" as |dd|}}
                {{#dd.toggle}}Dropup <span class="caret"></span>{{/dd.toggle}}
                {{#dd.menu align="right"}}
                    {{#dd.item}}{{#link-to "index"}}Home{{/link-to}}{{/dd.item}}
                    {{#dd.item}}{{#link-to "dropdown"}}Dropdowns{{/link-to}}{{/dd.item}}
                {{/dd.menu}}
            {{/bs-dropdown}}
        {{/navbar.nav}}
        {{#navbar.nav class="navbar-right"}}
            {{#bs-dropdown tagName="li" as |dd|}}
                {{#dd.toggle}}Dropdown <span class="caret"></span>{{/dd.toggle}}
                {{#dd.menu}}
                    {{#dd.item}}{{#link-to "index"}}Home{{/link-to}}{{/dd.item}}
                    {{#dd.item}}{{#link-to "dropdown"}}Dropdowns{{/link-to}}{{/dd.item}}
                {{/dd.menu}}
            {{/bs-dropdown}}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}

<h2>Button dropdowns</h2>

{{#bs-dropdown as |dd|}}
    {{#dd.button class="dropdown-toggle"}}Dropdown <span class="caret"></span>{{/dd.button}}
    {{#dd.menu}}
        {{#dd.item}}{{#link-to "index"}}Home{{/link-to}}{{/dd.item}}
        {{#dd.item}}{{#link-to "dropdown"}}Dropdowns{{/link-to}}{{/dd.item}}
    {{/dd.menu}}
{{/bs-dropdown}}

{{#bs-dropdown as |dd|}}
    {{#bs-button}}Dropdown{{/bs-button}}
    {{#dd.button}}<span class="caret"></span>{{/dd.button}}
    {{#dd.menu}}
        {{#dd.item}}{{#link-to "index"}}Home{{/link-to}}{{/dd.item}}
        {{#dd.item}}{{#link-to "dropdown"}}Dropdowns{{/link-to}}{{/dd.item}}
    {{/dd.menu}}
{{/bs-dropdown}}

{{#bs-dropdown direction="up" as |dd|}}
  {{#dd.button}}Dropup <span class="caret"></span>{{/dd.button}}
  {{#dd.menu}}
      {{#dd.item}}{{#link-to "index"}}Home{{/link-to}}{{/dd.item}}
      {{#dd.item}}{{#link-to "dropdown"}}Dropdowns{{/link-to}}{{/dd.item}}
  {{/dd.menu}}
{{/bs-dropdown}}

<h2>Do not close on menu click</h2>

{{#bs-dropdown closeOnMenuClick=false as |dd|}}
    {{#dd.button}}Dropdown <span class="caret"></span>{{/dd.button}}
    {{#dd.menu}}
        {{#dd.item}}{{#link-to "index"}}Home{{/link-to}}{{/dd.item}}
        {{#dd.item}}{{#link-to "dropdown"}}Dropdowns{{/link-to}}{{/dd.item}}
    {{/dd.menu}}
{{/bs-dropdown}}
