<h1>Dropdowns</h1>


<nav id="navbar-example" class="navbar navbar-default navbar-static">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project Name</a>
        </div>
        <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
            <ul class="nav navbar-nav">
                {{#bs-dropdown tagName="li"}}
                    {{#bs-dropdown-toggle}}Dropdown <span class="caret"></span>{{/bs-dropdown-toggle}}
                    {{#bs-dropdown-menu}}
                        <li>{{#link-to "index"}}Home{{/link-to}}</li>
                        <li>{{#link-to "dropdown"}}Dropdowns{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                {{/bs-dropdown}}
                {{#bs-dropdown tagName="li"}}
                    {{#bs-dropdown-toggle}}Dropdown <span class="caret"></span>{{/bs-dropdown-toggle}}
                    {{#bs-dropdown-menu align="right"}}
                        <li>{{#link-to "index"}}Home{{/link-to}}</li>
                        <li>{{#link-to "dropdown"}}Dropdowns{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                {{/bs-dropdown}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#bs-dropdown tagName="li"}}
                    {{#bs-dropdown-toggle}}Dropdown <span class="caret"></span>{{/bs-dropdown-toggle}}
                    {{#bs-dropdown-menu}}
                        <li>{{#link-to "index"}}Home{{/link-to}}</li>
                        <li>{{#link-to "dropdown"}}Dropdowns{{/link-to}}</li>
                    {{/bs-dropdown-menu}}
                {{/bs-dropdown}}
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<h2>Button dropdowns</h2>

{{#bs-dropdown}}
    {{#bs-dropdown-button}}Dropdown <span class="caret"></span>{{/bs-dropdown-button}}
    {{#bs-dropdown-menu}}
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "dropdown"}}Dropdowns{{/link-to}}</li>
    {{/bs-dropdown-menu}}
{{/bs-dropdown}}

{{#bs-dropdown}}
    {{#bs-button}}Dropdown{{/bs-button}}
    {{#bs-dropdown-button}}<span class="caret"></span>{{/bs-dropdown-button}}
    {{#bs-dropdown-menu}}
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "dropdown"}}Dropdowns{{/link-to}}</li>
    {{/bs-dropdown-menu}}
{{/bs-dropdown}}

