
<div class="row">
    <div class="col-sm-9">
        <div class="jumbotron">
            <h1>ember-bootstrap</h1>

            <p>An <a href="http://www.ember-cli.com">ember-cli</a> addon for using <a href="http://getbootstrap.com/">Twitter Bootstrap</a> in
                <a href="http://www.emberjs.com"></a>Ember.js applications.</p>

            <p>Provides a collection of native Ember {{#link-to "demo"}}components{{/link-to}} that mimic the original Bootstrap plugins and components in an ember friendly way.</p>
        </div>
    </div>

    <div class="col-sm-3 hidden-xs">

        <div class="row">
            <div class="col-md-6 col-md-offset-3"><a href="http://www.kaliber5.de"><img src="img/kaliber5.png" class="img-responsive logo" alt=""/></a></div>
        </div>

        {{partial "partials/author"}}
        {{partial "partials/copyright"}}
    </div>

</div>


<div class="row">

    <div class="col-sm-3">
        <h2>Getting started</h2>
        <p>For instruction on installing and configuring the addon, see the the Getting Started Guide...</p>
        <p>{{#link-to "getting-started" class="btn btn-primary"}}Getting Started{{/link-to}}</p>

    </div>

    <div class="col-sm-3">
        <h2>Components</h2>

        <p>An overview of the available Ember.js Bootstrap components...</p>
        <p>{{#link-to "demo" class="btn btn-primary"}}Component Overview{{/link-to}}</p>
    </div>

    <div class="col-sm-3">
        <h2>API</h2>

        <p>An overview of all components, their usage and detailed API can be found in the API documentation...</p>
        <p><a class="btn btn-primary" href="//kaliber5.github.io/ember-bootstrap/api/v1.0">API Docs</a></p>

    </div>

    <div class="col-sm-3">
        <h2>Updates</h2>
        <p>For the latest changes see the Changelog, and follow me on Twitter: <a href="https://twitter.com/simonihmig">@simonihmig</a></p>
        <p>{{#link-to "changelog" class="btn btn-primary"}}Changelog{{/link-to}}</p>

    </div>


</div>


<div class="visible-xs">

    <hr/>
    {{partial "partials/author"}}
    {{partial "partials/copyright"}}
</div>


