<ul class="nav nav-pills">
    <li>{{#link-to "alert"}}Alert{{/link-to}}</li>
    <li>{{#link-to "button"}}Buttons{{/link-to}}</li>
    <li>{{#link-to "dropdown"}}Dropdown{{/link-to}}</li>
    <li>{{#link-to "forms"}}Forms{{/link-to}}</li>
    <li>{{#link-to "accordion"}}Accordion{{/link-to}}</li>
</ul>