<h1>Navbars</h1>

{{#bs-form model=this as |form|}}
    {{form.element controlType="checkbox" label="Inverse" property="inverse" value=inverse}}
    {{form.element controlType="checkbox" label="Fluid" property="fluid" value=fluid}}
{{/bs-form}}

<h2>Navbars</h2>

{{#bs-navbar type=(if inverse 'inverse') fluid=fluid as |navbar|}}
    <div class="navbar-header">
        {{#navbar.toggle}}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        {{/navbar.toggle}}
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    {{#navbar.content}}
        {{#navbar.nav as |nav|}}
            {{#nav.item}}{{#nav.link-to "alert"}}Alert{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "button"}}Buttons{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "dropdown"}}Dropdown{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "forms"}}Forms{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "accordion"}}Accordion{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "collapse"}}Collapse{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "modal"}}Modals{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "progress"}}Progress bars{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "navs"}}Navs{{/nav.link-to}}{{/nav.item}}
            {{#nav.item}}{{#nav.link-to "navbars"}}Navbars{{/nav.link-to}}{{/nav.item}}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}
