<h1>Navbars</h1>

{{#bs-form model=this}}
    {{bs-form-element controlType="select" label="Type" choices=typeChoices choiceLabelProperty="id" choiceValueProperty="id" property="type"}}
    {{bs-form-element controlType="checkbox" label="Stacked" property="stacked"}}
    {{bs-form-element controlType="checkbox" label="Justified" property="justified"}}
{{/bs-form}}

<h2>Navbars</h2>

{{#bs-navbar}}
    {{#bs-navbar-header}}
        {{!-- TODO: Hide more of the plumbing --}}
        {{#bs-navbar-toggle active=expanded action=toggleNavbar}}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        {{/bs-navbar-toggle}}
        {{!-- TODO
        {{#bs-navbar-brand}}Brand{{/bs-navbar-brand}}
        --}}
        <a class="navbar-brand" href="#">Brand</a>
    {{/bs-navbar-header}}
    {{!-- TODO: Create bs-navbar-content instead of using bs-collapse --}}
    {{#bs-collapse collapse=collapsed class=(if expanded "collapse navbar-collapse in" "collapse navbar-collapse")}}
        {{#bs-nav type=type.id justified=justified stacked=stacked navbar=true}}
            {{#bs-nav-item}}{{#link-to "alert"}}Alert{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "button"}}Buttons{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "dropdown"}}Dropdown{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "forms"}}Forms{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "accordion"}}Accordion{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "collapse"}}Collapse{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "modal"}}Modals{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "progress"}}Progress bars{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "navs"}}Navs{{/link-to}}{{/bs-nav-item}}
            {{#bs-nav-item}}{{#link-to "navbars"}}Navbars{{/link-to}}{{/bs-nav-item}}
        {{/bs-nav}}
    {{/bs-collapse}}
{{/bs-navbar}}
