<h1>Navbars</h1>

{{#bs-form model=this}}
    {{bs-form-element controlType="checkbox" label="Inverse" property="inverse" value=inverse}}
    {{bs-form-element controlType="checkbox" label="Fluid" property="fluid" value=fluid}}
{{/bs-form}}

<h2>Navbars</h2>

{{#bs-navbar type=(if inverse 'inverse') fluid=fluid as |navbar|}}
    <div class="navbar-header">
        {{#navbar.toggle}}
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        {{/navbar.toggle}}
        <a class="navbar-brand" href="#">Brand</a>
    </div>
    {{#navbar.content}}
        {{#navbar.nav}}
            {{#navbar.nav-item}}{{#link-to "alert"}}Alert{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "button"}}Buttons{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "dropdown"}}Dropdown{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "forms"}}Forms{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "accordion"}}Accordion{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "collapse"}}Collapse{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "modal"}}Modals{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "progress"}}Progress bars{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "navs"}}Navs{{/link-to}}{{/navbar.nav-item}}
            {{#navbar.nav-item}}{{#link-to "navbars"}}Navbars{{/link-to}}{{/navbar.nav-item}}
        {{/navbar.nav}}
    {{/navbar.content}}
{{/bs-navbar}}
