<h1>Navs</h1>

{{#bs-form model=this as |form|}}
    {{#form.element label="Type" property="type" as |el|}}
        {{#x-select class="form-control" value=el.value id=el.id on-click=(action (mut type)) as |xs|}}
            {{#each typeChoices as |choice|}}
                {{#xs.option value=choice}}{{choice}}{{/xs.option}}
            {{/each}}
        {{/x-select}}
    {{/form.element}}
    {{form.element controlType="checkbox" label="Stacked" property="stacked"}}
    {{form.element controlType="checkbox" label="Justified" property="justified"}}
{{/bs-form}}

<h2>Navs</h2>

{{#bs-nav type=type justified=justified stacked=stacked as |nav|}}
    {{#nav.item}}{{#link-to "alert"}}Alert{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "button"}}Buttons{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "dropdown"}}Dropdown{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "forms"}}Forms{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "accordion"}}Accordion{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "collapse"}}Collapse{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "modal"}}Modals{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "progress"}}Progress bars{{/link-to}}{{/nav.item}}
    {{#nav.item}}{{#link-to "navs"}}Navs{{/link-to}}{{/nav.item}}
{{/bs-nav}}
