<h1>Popovers</h1>

<button type="button" class="btn btn-default">Popover on left
    {{#bs-popover placement="left" title="Popover on left"}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magnam similique voluptate!{{/bs-popover}}
</button>

<button type="button" class="btn btn-default">Popover on top
    {{#bs-popover placement="top" title="Popover on top"}}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magnam similique voluptate!{{/bs-popover}}
</button>

<button type="button" class="btn btn-default">Popover on bottom
    {{#bs-popover placement="bottom"}}Popover on bottom{{/bs-popover}}
</button>

<button type="button" class="btn btn-default">Popover on right
    {{#bs-popover placement="right"}}Popover on right{{/bs-popover}}
</button>
