<h1>Tooltips</h1>

<button type="button" class="btn btn-default">Tooltip on left
    {{#bs-tooltip placement="left" visibe=true}}Tooltip on left{{/bs-tooltip}}
</button>

<button type="button" class="btn btn-default">Tooltip on top
    {{#bs-tooltip placement="top"}}Tooltip on top{{/bs-tooltip}}
</button>

<button type="button" class="btn btn-default">Tooltip on bottom
    {{#bs-tooltip placement="bottom"}}Tooltip on bottom{{/bs-tooltip}}
</button>

<button type="button" class="btn btn-default">Tooltip on right
    {{#bs-tooltip placement="right"}}Tooltip on right{{/bs-tooltip}}
</button>