<form id="options-form" class="form-inline mb-1 mt-4">

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-inline" type="checkbox" id="api-show-inherited" checked>
    <label class="form-check-label" for="api-show-inherited">
      Inherited
    </label>
  </div>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-inline" type="checkbox" id="api-show-protected">
    <label class="form-check-label" for="api-show-protected">
      Protected
    </label>
  </div>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-inline" type="checkbox" id="api-show-private">
    <label class="form-check-label" for="api-show-private">
      Private
    </label>
  </div>

  <div class="form-check mb-2 mr-sm-2">
    <input class="form-check-inline" type="checkbox" id="api-show-deprecated">
    <label class="form-check-label" for="api-show-deprecated">
      Deprecated
    </label>
  </div>

</form>
