<div class="card">
  <div class="card-header">
    Classes
  </div>
  <ul class="list-group list-group-flush">
    {{#classes}}
      <li class="list-group-item list-group-item-{{access}}"><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
    {{/classes}}
  </ul>
</div>
