<div class="{{if this.vertical "btn-group-vertical" "btn-group"}} {{this.sizeClass}} {{if this.justified "btn-group-justified"}}" ...attributes>
  {{yield
    (hash
      button=(component this.buttonComponent buttonGroupType=@type groupValue=@value onClick=this.buttonPressed)
    )
  }}

</div>