<div class={{if this.fluid "container-fluid" "container"}}>
  {{yield
    (hash
      toggle=(component this.toggleComponent onClick=this.toggleNavbar collapsed=_collapsed)
      content=(component this.contentComponent collapsed=_collapsed onHidden=onCollapsed onShown=onExpanded)
      nav=(component
        this.navComponent
        linkToComponent=(component this.linkToComponent onCollapse=this.collapse)
      )
      collapse=this.collapse
      expand=this.expand
      toggleNavbar=this.toggleNavbar
    )
  }}
</div>
