<div class={{if fluid "container-fluid" "container"}}>
  {{yield
    (hash
      toggle=(component toggleComponent onClick=(action "toggleNavbar") collapsed=_collapsed)
      content=(component contentComponent collapsed=_collapsed onHidden=onCollapsed onShown=onExpanded)
      nav=(component
        navComponent
        itemComponent=(component navItemComponent onCollapse=(action "collapse"))
        linkToComponent=(component linkToComponent onCollapse=(action "collapse"))
      )
      collapse=(action "collapse")
      expand=(action "expand")
      toggleNavbar=(action "toggleNavbar")
    )
  }}
</div>
