{{! template-lint-disable block-indentation }}
<h1 id="included-assets">Included Assets</h1>

<p>ember-bootstrap uses the Bootstrap CSS classes while replacing the behaviors from the components Bootstrap implements
    in <code>bootstrap.js</code>, such as toggle, navbar, modal, etc., with equivalent, CSS class-compatible
    native Ember components.</p>

<p>If you are not using a preprocessor, ember-bootstrap will import the static CSS files. If you are using a preprocessor
    like LESS or SASS, ember-bootstrap imports the preprocessor-ready versions of the styles.</p>

{{#bs-alert type="warning" dismissible=false}}
  <h4>No bootstrap.js</h4>
  ember-bootstrap deliberately excludes
  <code>bootstrap.js</code> because the jQuery and Ember ways of control flow and animation
  sometimes don't play well together, causing unpredictable results. This is the main motivation behind ember-bootstrap.
  It is possible to import
  <code>bootstrap.js</code> from bower_components or the vendor folder. This is NOT recommended or
  supported, and you will be on your own. You have been warned!
{{/bs-alert}}

<h1 id="addon-options">Importing assets</h1>

<h2 id="importing-css-assets">Importing static CSS Assets</h2>

<p>
  When not using a CSS preprocessor (see below) ember-bootstrap will automatically import the static Bootstrap CSS into
  your ember-cli build. In situations where you prefer to use another strategy for importing Bootstrap CSS,
  you can opt out of CSS import by setting the <code>importBootstrapCSS</code> option to
  false in your <code>ember-cli-build.js</code>:
</p>

<div>
  <pre class="highlight"><code>//your-bootstrap-app/ember-cli-build.js

module.exports = function(defaults) {
    let app = new EmberApp(defaults, {
        'ember-bootstrap': {
            'importBootstrapCSS': false
        }
    });

    return app.toTree();
};
  </code></pre>
</div>

<p>
  Bootstrap comes with an optional theme CSS with various visual enhancements. To include this file you can import it
  by setting <code>importBootstrapTheme</code> to true in the 'ember-bootstrap' config of your
  <code>ember-cli-build.js</code>.
</p>


<h2>Using CSS preprocessors</h2>

<p>
  ember-bootstrap supports <a href="http://lesscss.org/" target="_blank" rel="noopener">Less</a> (with
  <a href="https://github.com/gdub22/ember-cli-less" target="_blank" rel="noopener">ember-cli-less</a>)
  as well as <a href="http://sass-lang.com/" target="_blank" rel="noopener">Sass</a> (with
  <a href="https://github.com/aexmachina/ember-cli-sass" target="_blank" rel="noopener">ember-cli-sass</a>)
  as CSS preprocessors. When it detects one of these upon first installation of ember-bootstrap, it will install the
  necessary packages ('bootstrap' itself or 'bootstrap-sass') and add an <code>@import</code> statement to your
  <code>app.less</code> or <code>app.scss</code> file respectively:
</p>

<pre><code class="language-less">// app.less
@import "ember-bootstrap/bootstrap";
</code></pre>

<pre><code class="language-sass">// app.scss
@import "ember-bootstrap/bootstrap";
</code></pre>

<p>This will add the whole bootstrap stylesheets allowing you to customize them easily using the available variables.</p>

{{#bs-alert type="info" dismissible=false}}
  <strong>Important note:</strong> this only works when you have the CSS preprocessor addon installed before installing ember-bootstrap
  itself. If that is not the case, make sure to run the default install blueprint after installing the preprocessor addon:
  <code>ember generate ember-bootstrap</code>! This will execute the necessary setup steps as described above.
{{/bs-alert}}

<p>You can also selectively import only the assets your app needs:</p>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th class="text-center">File name</th>
      <th class="text-center">BS3 - Less</th>
      <th class="text-center">BS3 - Sass</th>
      <th class="text-center">BS4 - Sass only</th>
    </tr>
  </thead>
  <tbody>
    <tr><th>alerts</th><td>@import "ember-bootstrap/alerts.less";</td><td>@import "ember-bootstrap/bootstrap/alerts.scss";</td><td>@import "ember-bootstrap/alert.scss";</td></tr>
    <tr><th>badges</th><td>@import "ember-bootstrap/badges.less";</td><td>@import "ember-bootstrap/bootstrap/badges.scss";</td><td>@import "ember-bootstrap/badge.scss";</td></tr>
    <tr><th>breadcrumbs</th><td>@import "ember-bootstrap/breadcrumbs.less";</td><td>@import "ember-bootstrap/bootstrap/breadcrumbs.scss";</td><td>@import "ember-bootstrap/breadcrumb.scss";</td></tr>
    <tr><th>button-groups</th><td>@import "ember-bootstrap/button-groups.less";</td><td>@import "ember-bootstrap/bootstrap/button-groups.scss";</td><td>@import "ember-bootstrap/button-group.scss";</td></tr>
    <tr><th>buttons</th><td>@import "ember-bootstrap/buttons.less";</td><td>@import "ember-bootstrap/bootstrap/buttons.scss";</td><td>@import "ember-bootstrap/buttons.scss";</td></tr>
    <tr><th>card</th><td></td><td></td><td>@import "ember-bootstrap/card.scss";</td></tr>
    <tr><th>carousel</th><td>@import "ember-bootstrap/carousel.less";</td><td>@import "ember-bootstrap/bootstrap/carousel.scss";</td><td>@import "ember-bootstrap/carousel.scss";</td></tr>
    <tr><th>close</th><td>@import "ember-bootstrap/close.less";</td><td>@import "ember-bootstrap/bootstrap/close.scss";</td><td>@import "ember-bootstrap/close.scss";</td></tr>
    <tr><th>code</th><td>@import "ember-bootstrap/code.less";</td><td>@import "ember-bootstrap/bootstrap/code.scss";</td><td>@import "ember-bootstrap/code.scss";</td></tr>
    <tr><th>component-animations</th><td>@import "ember-bootstrap/component-animations.less";</td><td>@import "ember-bootstrap/bootstrap/component-animations.scss";</td><td></td></tr>
    <tr><th>custom-forms</th><td></td><td></td><td>@import "ember-bootstrap/custom-forms.scss";</td></tr>
    <tr><th>dropdowns</th><td>@import "ember-bootstrap/dropdowns.less";</td><td>@import "ember-bootstrap/bootstrap/dropdowns.scss";</td><td>@import "ember-bootstrap/dropdown.scss";</td></tr>
    <tr><th>forms</th><td>@import "ember-bootstrap/forms.less";</td><td>@import "ember-bootstrap/bootstrap/forms.scss";</td><td>@import "ember-bootstrap/forms.scss";</td></tr>
    <tr><th>functions</th><td></td><td></td><td>@import "ember-bootstrap/functions.scss";</td></tr>
    <tr><th>glyphicons</th><td>@import "ember-bootstrap/glyphicons.less";</td><td>@import "ember-bootstrap/bootstrap/glyphicons.scss";</td><td></td></tr>
    <tr><th>grid</th><td>@import "ember-bootstrap/grid.less";</td><td>@import "ember-bootstrap/bootstrap/grid.scss";</td><td>@import "ember-bootstrap/grid.scss";</td></tr>
    <tr><th>input-groups</th><td>@import "ember-bootstrap/input-groups.less";</td><td>@import "ember-bootstrap/bootstrap/input-groups.scss";</td><td>@import "ember-bootstrap/input-group.scss";</td></tr>
    <tr><th>images.scss </th><td></td><td></td><td>@import "ember-bootstrap/images.scss";</td></tr>
    <tr><th>jumbotron</th><td>@import "ember-bootstrap/jumbotron.less";</td><td>@import "ember-bootstrap/bootstrap/jumbotron.scss";</td><td>@import "ember-bootstrap/jumbotron.scss";</td></tr>
    <tr><th>labels</th><td>@import "ember-bootstrap/labels.less";</td><td>@import "ember-bootstrap/bootstrap/labels.scss";</td><td></td></tr>
    <tr><th>list-group</th><td>@import "ember-bootstrap/list-group.less";</td><td>@import "ember-bootstrap/bootstrap/list-group.scss";</td><td>@import "ember-bootstrap/list-group.scss";</td></tr>
    <tr><th>media</th><td>@import "ember-bootstrap/media.less";</td><td>@import "ember-bootstrap/bootstrap/media.scss";</td><td>@import "ember-bootstrap/media.scss";</td></tr>
    <tr><th>mixins</th><td>@import "ember-bootstrap/mixins.less";</td><td>@import "ember-bootstrap/bootstrap/mixins.scss";</td><td>@import "ember-bootstrap/mixins.scss";</td></tr>
    <tr><th>modals</th><td>@import "ember-bootstrap/modals.less";</td><td>@import "ember-bootstrap/bootstrap/modals.scss";</td><td>@import "ember-bootstrap/modal.scss";</td></tr>
    <tr><th>nav</th><td></td><td></td><td>@import "ember-bootstrap/nav.scss";</td></tr>
    <tr><th>navbar</th><td>@import "ember-bootstrap/navbar.less";</td><td>@import "ember-bootstrap/bootstrap/navbar.scss";</td><td>@import "ember-bootstrap/navbar.scss";</td></tr>
    <tr><th>navs</th><td>@import "ember-bootstrap/navs.less";</td><td>@import "ember-bootstrap/bootstrap/navs.scss";</td><td></td></tr>
    <tr><th>normalize</th><td>@import "ember-bootstrap/normalize.less";</td><td>@import "ember-bootstrap/bootstrap/normalize.scss";</td><td></td></tr>
    <tr><th>pager</th><td>@import "ember-bootstrap/pager.less";</td><td>@import "ember-bootstrap/bootstrap/pager.scss";</td><td></td></tr>
    <tr><th>pagination</th><td>@import "ember-bootstrap/pagination.less";</td><td>@import "ember-bootstrap/bootstrap/pagination.scss";</td><td>@import "ember-bootstrap/pagination.scss";</td></tr>
    <tr><th>panels</th><td>@import "ember-bootstrap/panels.less";</td><td>@import "ember-bootstrap/bootstrap/panels.scss";</td><td></td></tr>
    <tr><th>popovers</th><td>@import "ember-bootstrap/popovers.less";</td><td>@import "ember-bootstrap/bootstrap/popovers.scss";</td><td>@import "ember-bootstrap/popover.scss";</td></tr>
    <tr><th>print</th><td>@import "ember-bootstrap/print.less";</td><td>@import "ember-bootstrap/bootstrap/print.scss";</td><td>@import "ember-bootstrap/print.scss";</td></tr>
    <tr><th>progress</th><td></td><td></td><td>@import "ember-bootstrap/progress.scss";</td></tr>
    <tr><th>progress-bars</th><td>@import "ember-bootstrap/progress-bars.less";</td><td>@import "ember-bootstrap/bootstrap/progress-bars.scss";</td><td></td></tr>
    <tr><th>reboot</th><td></td><td></td><td>@import "ember-bootstrap/reboot.scss";</td></tr>
    <tr><th>responsive-embed</th><td>@import "ember-bootstrap/responsive-embed.less";</td><td>@import "ember-bootstrap/bootstrap/responsive-embed.scss";</td><td></td></tr>
    <tr><th>responsive-utilities</th><td>@import "ember-bootstrap/responsive-utilities.less";</td><td>@import "ember-bootstrap/bootstrap/responsive-utilities.scss";</td><td></td></tr>
    <tr><th>root</th><td></td><td></td><td>@import "ember-bootstrap/root.scss";</td></tr>
    <tr><th>scaffolding</th><td>@import "ember-bootstrap/scaffolding.less";</td><td>@import "ember-bootstrap/bootstrap/scaffolding.scss";</td><td></td></tr>
    <tr><th>tables</th><td>@import "ember-bootstrap/tables.less";</td><td>@import "ember-bootstrap/bootstrap/tables.scss";</td><td>@import "ember-bootstrap/tables.scss";</td></tr>
    <tr><th>theme</th><td>@import "ember-bootstrap/theme.less";</td><td>@import "ember-bootstrap/bootstrap/theme.scss";</td><td></td></tr>
    <tr><th>thumbnails</th><td>@import "ember-bootstrap/thumbnails.less";</td><td>@import "ember-bootstrap/bootstrap/thumbnails.scss";</td><td></td></tr>
    <tr><th>tooltip</th><td>@import "ember-bootstrap/tooltip.less";</td><td>@import "ember-bootstrap/bootstrap/tooltip.scss";</td><td>@import "ember-bootstrap/tooltip.scss";</td></tr>
    <tr><th>transitions </th><td></td><td></td><td>@import "ember-bootstrap/transitions.scss";</td></tr>
    <tr><th>type</th><td>@import "ember-bootstrap/type.less";</td><td>@import "ember-bootstrap/bootstrap/type.scss";</td><td>@import "ember-bootstrap/type.scss";</td></tr>
    <tr><th>utilities</th><td>@import "ember-bootstrap/utilities.less";</td><td>@import "ember-bootstrap/bootstrap/utilities.scss";</td><td>@import "ember-bootstrap/utilities.scss";</td></tr>
    <tr><th>variables</th><td>@import "ember-bootstrap/variables.less";</td><td>@import "ember-bootstrap/bootstrap/variables.scss";</td><td>@import "ember-bootstrap/variables.scss";</td></tr>
    <tr><th>wells</th><td>@import "ember-bootstrap/wells.less";</td><td>@import "ember-bootstrap/bootstrap/wells.scss";</td><td></td></tr>
  </tbody>
</table>

<h2>Importing the Bootstrap Glyphicons font</h2>
<p>By default the icon font that comes with Bootstrap is added to your app's assets folder.
  When you do not want to use it (maybe because of replacing it for
  <a href="https://github.com/martndemus/ember-font-awesome" target="_blank" rel="noopener">Font Awesome</a>),
  you can opt out of the font import by setting the <code>importBootstrapFont</code> option
  to false in your <code>ember-cli-build.js</code>:</p>

<div><pre class="highlight"><code>//your-bootstrap-app/ember-cli-build.js

module.exports = function(defaults) {
    var app = new EmberApp(defaults, {
        'ember-bootstrap': {
            'importBootstrapFont': false
        }
    });

    return app.toTree();
};
</code></pre>
</div>
