<div class="jumbotron">
  <h1>Getting started</h1>

  <p>In your ember-cli application:</p>

  <div>
    <pre><code>ember install ember-bootstrap</code></pre>
  </div>

</div>

<div class="row">

  <div class="col-sm-4">
    <h2>Bootstrap assets</h2>
    <p>
      ember-bootstrap will automatically import the Bootstrap styles, supporting static CSS as well as CSS
      preprocessors like Sass and Less. Learn how you can customize the asset management.
    </p>
    <p>{{#link-to "getting-started.assets" class="btn btn-primary"}}Tell me more{{/link-to}}</p>
  </div>

  <div class="col-sm-4">
    <h2>Migrating to 1.0</h2>
    <p>
      ember-bootstrap 1.0 (alpha) contains a number of breaking changes compared to the previous 0.x releases. If you want to
      migrate your app to the latest release, make sure follow these migration guides.
    </p>
    <p>{{#link-to "getting-started.migrating-to-1-0" class="btn btn-primary"}}Tell me more{{/link-to}}</p>
  </div>

  <div class="col-sm-4">
    <h2>Bootstrap 4</h2>
    <p>
      ember-bootstrap comes with (experimental) support for Bootstrap 4 (alpha). Learn how to switch your project to use
      Bootstrap 4.
    </p>
    <p>{{#link-to "getting-started.bootstrap-4" class="btn btn-primary"}}Tell me more{{/link-to}}</p>
  </div>
</div>