<div class="jumbotron">
  <h1>Getting started</h1>

  <p>In your ember-cli application:</p>

  <div>
    <pre><code>ember install ember-bootstrap</code></pre>
  </div>

</div>

<div class="row">

  <div class="col-sm-3">
    <h2>Setup</h2>
    <p>
      Learn how to install the addon and customize the various available build options.
    </p>
    <p>{{#link-to "getting-started.setup" class="btn btn-primary"}}Tell me more{{/link-to}}</p>
  </div>

  <div class="col-sm-3">
    <h2>Bootstrap assets</h2>
    <p>
      You can customize the way ember-bootstrap will import the Bootstrap styles, supporting static CSS as well as CSS
      preprocessors.
    </p>
    <p>{{#link-to "getting-started.assets" class="btn btn-primary"}}Tell me more{{/link-to}}</p>
  </div>

  <div class="col-sm-3">
    <h2>Migrating to 1.0</h2>
    <p>
      ember-bootstrap 1.0 contains breaking changes compared to the previous 0.x releases.
      Follow this migration guide to upgrade your app.
    </p>
    <p>{{#link-to "getting-started.migrating-to-1-0" class="btn btn-primary"}}Tell me more{{/link-to}}</p>
  </div>

  <div class="col-sm-3">
    <h2>Bootstrap 4</h2>
    <p>
      ember-bootstrap comes with (experimental) support for Bootstrap 4 (beta). Learn how to switch your project to use
      Bootstrap 4.
    </p>
    <p>{{#link-to "getting-started.bootstrap-4" class="btn btn-primary"}}Tell me more{{/link-to}}</p>
  </div>
</div>