<h1>Migrating to ember-bootstrap 1.0 alpha</h1>

<p>The 1.0 release is currently in alpha stage. While the API is not guaranteed to remain unchanged until the first stable release,
  breaking changes are unlikely. So I encourage everybody to use the alpha version for new projects, and also to upgrade existing projects.</p>

<p>The 1.0 release will consist of a number of breaking changes compared to the previous 0.x releases, so be sure to check the
  {{#link-to "changelog"}}Changelog{{/link-to}} for details. After the first stable 1.0 release the API should remain stable according to SemVer.</p>

<p>Beginning from version 1.0 ember-bootstrap will require at least Ember 2.3! Please file any issues you may encounter!</p>

