<h1>Migrating to ember-bootstrap 1.0</h1>

{{#bs-alert type="info"}}
  This migration guide is for users who are still using any of the old 0.x releases. If you are already using a 1.0.0-beta.x
  release, you should be able to update to the latest stable 1.x release without any problems.
{{/bs-alert}}

<p>
  Please note that the current 1.0 release of ember-bootstrap introduced several breaking changes compared to the previous 0.x releases.
  This is to make use of modern Ember features, follow Data Down Actions Up (DDAU) best practises and to make its API consistent.
  Most changes will fall into one of the following categories:
</p>

<ul>
  <li>Use contextual components for parent/child components</li>
  <li>Use one-way bindings for public properties to not violate DDAU</li>
  <li>renamed actions for consistency</li>
</ul>

<p>
  Also ember-bootstrap 1.0 requires at least <strong>Ember v2.3</strong>.
  Please check the {{#link-to "changelog"}}Changelog{{/link-to}} for all the changes, and consult the
  <a href="/api">v1.0 API docs</a>
  for detailed usage instructions.
</p>
