<h1>Migrating to ember-bootstrap 1.0</h1>

<p>
  The 1.0 release is currently in beta stage. There <em>should</em> not be any breaking changes anymore. So I encourage everybody
  to use the beta version for new projects, and also to upgrade existing projects.
</p>

<p>
  Please note that the 1.0 release of ember-bootstrap will introduce several breaking changes compared to the previous 0.x releases.
  This is to make use of modern Ember features, follow Data Down Actions Up (DDAU) best practises and to make its API consistent.
  Most changes will fall into one of the following categories:
</p>

<ul>
  <li>Use contextual components for parent/child components</li>
  <li>Use one-way bindings for public properties to not violate DDAU</li>
  <li>renamed actions for consistency</li>
</ul>

<p>
  Also ember-bootstrap 1.0 requires at least <strong>Ember v2.3</strong>.
  Please check the {{#link-to "changelog"}}Changelog{{/link-to}} for all the changes, and consult the
  <a href="/api">v1.0 API docs</a>
  for detailed usage instructions.
</p>
