{{#if fluid}}
    {{yield
        (hash
            toggle=(component 'bs-navbar/toggle' onClick=(action 'toggleNavbar') collapsed=collapsed)
            content=(component 'bs-navbar/content' collapsed=collapsed)
            nav=(component 'bs-navbar/nav')
        )
    }}
{{else}}
    <div class="container">
        {{yield
            (hash
                toggle=(component 'bs-navbar/toggle' onClick=(action 'toggleNavbar') collapsed=collapsed)
                content=(component 'bs-navbar/content' collapsed=collapsed)
                nav=(component 'bs-navbar/nav')
            )
        }}
    </div>
{{/if}}
