{{#if this.inDom}}
  {{#maybe-in-element this.destinationElement this._renderInPlace}}
    {{#component this.dialogComponent
      onClose=(action "close")
      fade=this.fade
      showModal=this.showModal
      id=this.modalId
      keyboard=this.keyboard
      size=@size
      backdropClose=this.backdropClose
      class=@class
      inDom=this.inDom
      paddingLeft=this.paddingLeft
      paddingRight=this.paddingRight
      centered=(bs-eq this.position "center")
    }}
      {{yield
        (hash
          header=(component this.headerComponent onClose=(action "close"))
          body=(component this.bodyComponent)
          footer=(component this.footerComponent onClose=(action "close") onSubmit=(action "submit"))
          close=(action "close")
          submit=(action "submit")
        )
      }}
    {{/component}}

    <div>
      {{#if this.showBackdrop}}
        <div class="modal-backdrop {{if this.fade "fade"}} {{if this.showModal this.showClass}}" id={{this.backdropId}} ></div>
      {{/if}}
    </div>
  {{/maybe-in-element}}
{{/if}}
