name: Publish docs

on:
  workflow_dispatch:
  release:
    types:
      - published
      - edited

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Install addon dependencies
        uses: bahmutov/npm-install@v1
      - name: Install docs dependencies
        uses: bahmutov/npm-install@v1
        with:
          working-directory: docs
      - name: Build docs
        run: yarn run docs:build
      - name: Upload docs build
        uses: actions/upload-artifact@v3
        with:
          name: docs-build
          path: docs/build

  deploy:
    if: github.event.release
    runs-on: ubuntu-latest
    steps:
      - name: Download docs build
        uses: actions/download-artifact@v3
        with:
          name: docs-build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          cname: www.ember-bootstrap.com
