name: Publish docs

on:
  workflow_dispatch:
  release:
    types: [published,edited]

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: 12
      - name: Install addon dependencies
        uses: bahmutov/npm-install@v1
      - name: Install docs dependencies
        uses: bahmutov/npm-install@v1
        with:
          working-directory: docs
      - name: Build docs
        run: yarn run docs:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build
          cname: www.ember-bootstrap.com
