{{#if (macroCondition (macroGetOwnConfig "isBS4"))}}
  <h5 class="modal-title" ...attributes>
    {{yield}}
  </h5>
{{/if}}
{{#if (macroCondition (macroGetOwnConfig "isBS3"))}}
  <h4 class="modal-title" ...attributes>
    {{yield}}
  </h4>
{{/if}}